<!--<section class="header-image header-feature1 partial-box clearfix animated flipInY"">
    <div class="wrapper" ng-click="showController.hideTooltips(album)">
        <div class="tooltip" ng-click="$event.stopPropagation()" ng-show="showtooltipName">
            <input maxlenght="48" type="text" ng-model="album.name" />
        </div>
        <h1>{{album.name}} <span ng-show="user" id="editName" ng-click="showController.toggleTooltipName($event,album,album.name)" class="glyphicon glyphicon-edit" style="cursor:pointer"></span></h1>
        <div class="tooltip" style="min-width: 80%;" ng-click="$event.stopPropagation()" ng-show="showtooltipDescription">
            <input maxlength="140" rows="4" cols="50" ng-model="album.description" />
        </div>
        <p style="white-space:pre-line">{{album.description}} <span ng-show="user" id="editDescription" class="glyphicon glyphicon-edit" style="cursor:pointer"
            ng-click="showController.toggleTooltipDescription($event,album,album.description)"></span> </p>
    </div>
</section>-->
<div class="row">
    <div ng-repeat="photo in album.photos">
        <div class="col-lg-3 col-md-4 col-xs-6">
            </br>
           
            <input name="radiobuttons" style="float:left;" ng-checked="photo._id == album.albumImage" ng-show="user" type="radio" class="radio"
            id="{{photo.name}}_checkbox" ng-click="showController.selected(photo, album)">
            </> 
            <label style="color:#d0d24a"ng-show="user" style="padding:inherit;" for="{{photo.name}}_checkbox">Seleccionar como portada </label>            
            
            <button ng-show="user" class="button3d" ng-click="showController.deletePhoto(photo,album)">X</button>
            <p ng-init="htmlSwitchStatus = true"  >
                <div id="{{photo.name}}_selected" style=".ng-valid.ng-dirty: transparent !important" toggle-switch type="checkbox" class="switch-primary switch-large" html="htmlSwitchStatus"
                knob-label='<i class="fa fa-camera-retro"></i>' ng-show="!user" on-label='<i class="fa fa-thumbs-up"></i>' off-label='<i class="fa fa-thumbs-down"></i>' ng-model="switchStatus" ></div>
            </p>
            <a class="fancybox-button " rel="fancybox-button" href="{{photo.path}}" title="{{album.name}}">
                <img class="img-responsive img-thumbnail" ng-src="{{photo.path}}" alt="" />
            </a>
        </div>
    </div>
</div>
<div class="row" ng-show="user">
    <div class="col-md-12" style="text-align:center;padding:30px;">
        <form name="albumForm" validate>
            <div class="form-group">
                <label>Subir imágenes</label>
                <div class="row" style="padding: 10px">
                    <div class="col-md-12 col-xs-12 ">
                        <input type="file" id="filecount" file-model="images" accept="image/*" multiple="multiple">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12 ">
                        <button id="clear" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> Cancelar selección </button>
                    </div>
                </div>

            </div>
            <button type="submit" class="btn btn-default" ng-click="showController.save(album,images)"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
        </form>
    </div>
</div>

<div class="row" ng-show="!user">
    <div class="col-md-8">
        <h3 style="color:#d0d24a">¿Querés que imprima tus fotos?</h3>
        <h5 style="color:#d0d24a"> Seleccionando las que desees se agregarán automáticamente al mail<h5>
        <form ng-submit="emailForm.$valid && showController.sendEmail(email,album)" name ="emailForm" novalidate>
            <div class="control-group form-group">
                <div class="controls">
                    <label style="color:#d0d24a">Nombre:</label>
                    <input style="color:white" type="text" class="form-control" name="name" ng-model="email.name" required>                    
                    <span class="messages" ng-show="emailForm.name.$touched  || !emailForm.name.$pristine || emailForm.$submitted">
                        <span ng-show="emailForm.name.$error.required ">Es obligatorio ingresar el nombre.</span>
                    </span>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label style="color:#d0d24a">Email:</label>
                    <input style="color:white" class="form-control" ng-model="email.address" name ="email" type="email" required>
                    <span class="messages" ng-show="emailForm.email.$touched || !emailForm.email.$pristine || emailForm.$submitted">
                        <span ng-show="emailForm.email.$error.required ">El campo 'Email' no puede quedar vacío.</span>
                    </span>
                    <span class="messages" ng-show="emailForm.email.$touched  && emailForm.email.$invalid || emailForm.$submitted">
                        <span ng-show="emailForm.email.$touched && emailForm.email.$invalid && !emailForm.email.$error.required">Ingresar un email válido.</span>
                    </span>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label style="color:#d0d24a">Teléfono:</label>
                    <input style="color:white" class="form-control" ng-model="email.telefono" name ="telefono" >
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label style="color:#d0d24a">Mensaje:</label>
                    <textarea  style="color:white" placeholder="Ejemplo de mensaje: Hola Marce, adjuntas dejo las fotos para que las imprimas en tamaño 15x21" name="message" rows="10" cols="100" class="form-control" ng-model="email.message"  maxlength="999" style="resize:none" required>
                    </textarea>
                    <span class="messages" ng-show="emailForm.message.$touched || !emailForm.message.$pristine || emailForm.$submitted">
                        <span ng-show="emailForm.message.$error.required ">El campo 'Mensaje' no puede quedar vacío.</span>
                    </span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
            <div ng-show="mailSended" class="text-center text-success">
                <strong>El mail ha sido enviado exitósamente!</strong>
            </div>
            <div ng-show="error" class="text-center text-danger">
                <strong ng-bind="error"> Ocurrió un error al intentar enviar el mail. Por favor inténtelo nuevamente.</strong>
            </div>
        </form>
    </div>

</div>

<modal title="Eliminar imagen" visible="modalDialog" id="modalError">
    <div class="modal-body">
        <div class="form-group">
            <label>{{dialog}}</label>
        </div>
    </div>
    <div ng-if="!confirmDelete" class="modal-footer">
        <button data-dismiss="modal" style="background-color:#25b5b8; color:white;" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
    </div>
    <div ng-if="confirmDelete" class="modal-footer">
        <button id="Aceptar" style="background-color:#25b5b8; color:white;" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
        <button class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
    </div>
</modal>


<script>
    $('#filecount').filestyle({
        input : false,
        buttonText: 'Seleccionar imagenes',
        buttonName : 'btn-primary',
        iconName : 'glyphicon glyphicon-folder-open'
    });
    $('#clear').click(function() {
        $('#filecount').filestyle('clear');
    });

</script>