<section class="header-image header-feature1 partial-box clearfix animated flipInY"">
    <div class="wrapper" ng-click="showController.hideTooltips(album)">
        <div class="tooltip" ng-click="$event.stopPropagation()" ng-show="showtooltipName">
            <input maxlenght="48" type="text" ng-model="album.name" />
        </div>
        <h1>{{album.name}} <span ng-show="user" id="editName" ng-click="showController.toggleTooltipName($event,album,album.name)" class="glyphicon glyphicon-edit" style="cursor:pointer"></span></h1>
        <div class="tooltip" style="min-width: 80%;" ng-click="$event.stopPropagation()" ng-show="showtooltipDescription">
            <input maxlength="140" rows="4" cols="50" ng-model="album.description" />
        </div>
        <p style="white-space:pre-line">{{album.description}} <span ng-show="user" id="editDescription" class="glyphicon glyphicon-edit" style="cursor:pointer"
            ng-click="showController.toggleTooltipDescription($event,album,album.description)"></span> </p>
    </div>
</section>
<div class="row">
    <div ng-repeat="photo in album.photos">
        <div class="col-lg-3 col-md-4 col-xs-6">
            </br>
            <input name="radiobuttons" style="float:left;" ng-checked="photo._id == album.albumImage" ng-show="user" type="radio" class="radio"
            id="{{photo.name}}_checkbox" ng-click="showController.selected(photo, album)">
            </>
            <p ng-init="htmlSwitchStatus = true" ng-show="!user" >
                <div id="{{photo.name}}_selected" toggle-switch type="checkbox" class="switch-primary switch-large" html="htmlSwitchStatus"
                knob-label='<i class="fa fa-question"></i>' on-label='<i class="fa fa-thumbs-up"></i>' off-label='<i class="fa fa-thumbs-down"></i>' ng-model="switchStatus" ></div>
            </p>
            <label ng-show="!user" style="padding:inherit;" for="{{photo.name}}_selected">Seleccionar para enviar </label>
            <button ng-show="user" class="button3d" ng-click="showController.deletePhoto(photo,album)">X</button>
            <a class="fancybox-button" rel="fancybox-button" href="{{photo.path}}" title="{{album.name}}">
                <img class="img-responsive img-thumbnail" ng-src="{{photo.path}}" alt="" />
            </a>
        </div>
    </div>
</div>
<div class="row" ng-show="user">
    <div class="col-md-12" style="text-align:center">
        <form name="albumForm" validate>
            <div class="form-group">
                <label>Subir imágenes</label>
                <div class="row" style="padding: 10px">
                    <div class="col-md-12 col-xs-12 ">
                        <input type="file" id="filecount" file-model="images" multiple="multiple">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12 ">
                        <button id="clear" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> Cancelar selección </button>
                    </div>
                </div>

            </div>
            <button type="submit" class="btn btn-default" ng-click="showController.save(album,images)"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
        </form>
    </div>
</div>

<div class="row" ng-show="!user">
    <div class="col-md-8">
        <h3>¿Querés que imprima tus fotos?</h3>
        <h5> Seleccionando las que desees se agregarán automáticamente al mail<h5>
        <form ng-submit="showController.sendEmail(email,album)" validate>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Nombre:</label>
                    <input type="text" class="form-control" ng-model="email.name" required>
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Email:</label>
                    <input class="form-control" ng-model="email.address" required>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Mensaje:</label>
                    <textarea rows="10" cols="100" class="form-control" ng-model="email.message" required maxlength="999" style="resize:none"></textarea>
                </div>
            </div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary">Enviar</button>
            <div ng-show="success" class="text-center text-success">
                <strong>Email sent successfully</strong>
            </div>
            <div ng-show="error" class="text-center text-danger">
                <strong ng-bind="error"></strong>
            </div>
        </form>
    </div>

</div>

<modal title="Eliminar imagen" visible="modalDialog" id="modalError">
    <div class="modal-body">
        <div class="form-group">
            <label>{{dialog}}</label>
        </div>
    </div>
    <div ng-if="!confirmDelete" class="modal-footer">
        <button data-dismiss="modal" style="background-color:#25b5b8; color:white;" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
    </div>
    <div ng-if="confirmDelete" class="modal-footer">
        <button id="Aceptar" style="background-color:#25b5b8; color:white;" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
        <button class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
    </div>
</modal>


<script>
    $('#filecount').filestyle({
        input : false,
        buttonText: 'Seleccionar imagenes',
        buttonName : 'btn-primary',
        iconName : 'glyphicon glyphicon-folder-open'
    });
    $('#clear').click(function() {
        $('#filecount').filestyle('clear');
    });

</script>