<form name="albumForm" ng-submit="albumForm.$valid && save(album)" novalidate>
	<div class="form-group">
		<label for="name">Photo name</label>
		<input class="form-control" ng-model="album.name" placeholder="Name" required/>
	</div>
	<div class="form-group">
		<label for="description">Photo description</label>
		<input class="form-control" ng-model="album.description" placeholder="Description" required/>
	</div>
	<div class="form-group">
		<label for="file">File input</label>
		<input type="file" required/>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>