header {
  border-bottom: #ffbe00 solid 5px;
  .brand-logo {
    padding-left: 50px;
    padding-top: 3px;
  }

  tab {
    a:hover {
      background: #f5b406;
    }

    &.selected a {
      background: #f5b406;
    }
  }
}

.content {
  height: 100%;
}

footer {
  border-top: #ffbe00 solid 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
