<form name="loginform" novalidate>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <h3 class="animated bounceInDown">Iniciar Sesión</h3>
            <div class="login-box clearfix animated flipInY">
                <div class="login-logo">
                    <a href="#"><img src="../../../resources/utils/camera_logo_small.png" alt="Company Logo" /></a>
                </div>
                <hr />
                <div class="login-form">
                    <span class="messages" ng-show="(loginform.$submitted || loginform.username.$touched || loginform.password.$touched) ">
                            <span style="margin-left: 15%;"ng-show="loginform.username.$error.notFound || loginform.password.$error.notFound">Nombre de usuario o contraseña inválido.</span>
                    </span>
                    <div class="form-group" ng-show="!loginController.isLogged()">
                        <input id="username" class="form-control" name="username" type="text" placeholder="Nombre de usuario" ng-model="user.username"
                        enter-directive required/>                   
                        <span class="messages" ng-show="loginform.username.$touched  || !loginform.username.$pristine || loginform.$submitted">
                            <span style="margin-left: 15%;"ng-show="loginform.username.$error.required ">Es obligatorio ingresar el nombre.</span>
                        </span>
                    </div>
                    <div class="form-group" ng-show="!loginController.isLogged()">
                        <input enter-directive class="form-control" type="password" name="password" placeholder="Contraseña" ng-model="user.password" required/>
                        <span class="messages" ng-show="(loginform.$submitted || loginform.password.$touched || !loginform.password.$pristine)">
                            <span style="margin-left: 15%;" ng-show="loginform.password.$error.required ">Es obligatorio ingresar la contraseña.</span>
                        </span>
                    </div>
                    <div class="form-group" ng-show="!loginController.isLogged()">
                        <button type="submit" class="btn btn-login" ng-click="loginController.login(user.username, user.password)">Iniciar Sesión</button>
                    </div>
                    <div class="form-group" ng-show="loginController.isLogged() && !changePassword">
                        <button type="button" class="btn btn-login" ng-click="loginController.cambiarContrasena()">Cambiar contraseña</button>
                    </div>
                    <div class="form-group" ng-show="loginController.isLogged() && !changePassword">
                        <button type="button" class="btn btn-login" ng-click="loginController.logout()">Cerrar Sesión</button>
                    </div>                        
                    <span class="messages" ng-show="loginform.$submitted &&( loginform.newPassword.$touched || loginform.verifyPassword.$touched)">
                            <span style="margin-left: 15%;"ng-show="loginform.newPassword.$error.notEqual || loginform.verifyPassword.$error.notEqual">Las contraseñas ingresadas no coinciden.</span>
                    </span>
                    <div class="form-group" ng-show="loginController.isLogged() && changePassword">
                        <input class="form-control" name="newPassword" type="password" placeholder="Contraseña nueva" ng-model="newPassword" enter-directive required/>
                        <span class="messages" ng-show="loginform.$submitted || loginform.newPassword.$touched || !loginform.newPassword.$pristine" >
                            <span style="margin-left: 15%;"ng-show="loginform.newPassword.$error.required">Es obligatorio ingresar una nueva contraseña.</span>
                        </span>
                    </div>
                    <div class="form-group" ng-show="loginController.isLogged() && changePassword">
                        <input class="form-control" name="verifyPassword" type="password" placeholder="Repetir contraseña nueva" ng-model="verifyPassword" enter-directive required/>
                        <span class="messages" ng-show="loginform.$submitted || loginform.verifyPassword.$touched || !loginform.verifyPassword.$pristine" >
                            <span style="margin-left: 15%;"ng-show="loginform.verifyPassword.$error.required">Es obligatorio repetir la nueva contraseña.</span>
                        </span>
                    </div>
                    <div class="form-group" ng-show="loginController.isLogged() && changePassword">
                        <button type="submit" class="btn btn-login" ng-click="loginController.confirmChangePassword(newPassword,verifyPassword)">Aceptar</button>
                    </div>
                    <div class="form-group" ng-show="loginController.isLogged() && changePassword">
                        <button type="button" class="btn btn-login" ng-click="loginController.cancelChangePassword()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>